<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="local-razor" value="razor/artifacts/packages/Release/Shipping" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="local-razor">
            <package pattern="ronimizy.Razor*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>